body {
  background-color: #d3d3d3;
}

.wrapper {
  border: 10px solid red;
}

/*This is a CSS comment*/
body {
  background-color: #d3d3d3;
} /*This is another CSS comment*/
.wrapper {
  border: 10px solid red;
}
